<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bdz.mapper.UserMapper">
    <select id="getUserList" resultType="User">
        select * from user
    </select>
    <!--<select id="queryUserByUsername" resultType="User">
        select * from user where username=#{username}
    </select>
    <insert id="addUser" parameterType="User">
        insert into user(username,password,nickname) values (#{username},#{password},#{nickname})
    </insert>
    <update id="updateUser" parameterType="User">
        update user set password=#{password},nickname=#{nickname} where username=#{username}
    </update>
    <delete id="deleteUser" parameterType="String">
        delete from user where username=#{username}
    </delete>-->
</mapper>